@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.honk {
  font-family: 'Honk';
  font-variation-settings:
    "MORF" 33,
    "SHLN" 25;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes fadeIn { 
  from { opacity: 0 } 
  to { opacity: 1 } 
}

.animate-fadeIn { 
  animation: fadeIn .2s ease-in; 
}

.body-bg-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1));
  filter: blur(32px);
  z-index: -1;
}
